@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    background-color: #FAFAFA;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-text {
    font-size: .9em;
    padding: 0;
}

.navbar-start {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text-button {
    font-size: .9em;
    text-decoration: none;
    text-align: center;
}

.footer-text {
    padding: 0;
}

footer {
margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: center;
}