/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    background-color: #FAFAFA;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* navbar */
.navbar-brand {
    font-size: 1.5em;
}

.navbar-text {
    font-size: .9em;
    padding: 0;
}

.word-count-button {
    border: 0;
    font-size: .9em;
    padding: 0 0 0 0;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* main */
.typing-test {
    display: flex;
    flex-direction: column;
}

/* footer */
.footer-text-button {
    font-size: .9em;
    text-decoration: none;
    text-align: center;
}

.footer-text {
    padding: 0;
}

footer {
    padding: 8px 0px 8px 0px;
}

.footer-content {
    display: flex;
    justify-content: center;
}