/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* navbar */
.navbar-brand {
    font-size: 1.5em;
}

.navbar-text {
    font-size: .9em;
    padding: 0;
}

.navbar-button {
    border: 0;
    font-size: .9em;
    padding: 0 0 0 0;
    background-color: transparent; 
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* main */
.hud {
    display: flex;
    justify-content: center;
}

.hud p {
    font-size: 1.5em;
}

.typing-test {
    display: flex;
    flex-direction: column;
}

.typing-area span {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.55) ;
    /* rgba(0, 0, 0, 0.55) 
    #8D8D8D*/
}

.typing-area span.active {
    color: #9256ED;
    animation: blink 1s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes blink{
    50%{ 
      opacity: 1%; 
    }
  }

.typing-area span.correct {
    color: green;
}

.typing-area span.incorrect {
    color: red;
}

.reset-button {
    margin-top: 16px;
}

/* footer */
.footer-text-button {
    font-size: .9em;
    text-decoration: none;
    text-align: center;
}

.footer-text {
    padding: 0;
}

footer {
    padding: 8px 0px 8px 0px;
}

.footer-content {
    display: flex;
    justify-content: center;
}